.popover-choose-material {
    .MuiPopover-paper {
        padding: 15px;
    }
    .search-input {
        width: 100%;
    }
    .add-input {
        width: 100%;
    }
    .pagination-component {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
